* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4edf1), color-stop(#ede7ed), color-stop(#e6e2e9), color-stop(#dedce4), color-stop(#d6d7e0), color-stop(#cfd2db), color-stop(#c7ccd7), color-stop(#bfc7d2), color-stop(#b7c0cc), color-stop(#afb9c5), color-stop(#a6b2bf), to(#9eabb9));
  background-image: linear-gradient(to bottom, #f4edf1, #ede7ed, #e6e2e9, #dedce4, #d6d7e0, #cfd2db, #c7ccd7, #bfc7d2, #b7c0cc, #afb9c5, #a6b2bf, #9eabb9);
  height: 100vh;
  width: 100vw;
  font-family: 'Norican','Unna', serif, cursive;
}

body .dark_mode-container {
  height: 10vh;
  width: 9vw;
  position: absolute;
  background-color: transparent;
}

@media screen and (max-width: 814px) {
  body .dark_mode-container {
    height: 18vh;
    width: 5vh;
  }
}

body .dark_mode-container .dark_mode-background {
  width: 5vw;
  height: 2vh;
  margin: 4vh auto;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#e8e8e8), color-stop(#d1d1d1), color-stop(#bababa), color-stop(#a4a4a4), color-stop(#8e8e8e), color-stop(#797979), color-stop(#646464), color-stop(#4b4b4b), color-stop(#333333), color-stop(#1d1d1d), to(#000000));
  background-image: linear-gradient(to right, #ffffff, #e8e8e8, #d1d1d1, #bababa, #a4a4a4, #8e8e8e, #797979, #646464, #4b4b4b, #333333, #1d1d1d, #000000);
  border-radius: 10%;
  cursor: pointer;
}

@media screen and (max-width: 814px) {
  body .dark_mode-container .dark_mode-background {
    height: 12vh;
    width: 4vw;
    margin: 3vh auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(#e8e8e8), color-stop(#d1d1d1), color-stop(#bababa), color-stop(#a4a4a4), color-stop(#8e8e8e), color-stop(#797979), color-stop(#646464), color-stop(#4b4b4b), color-stop(#333333), color-stop(#1d1d1d), to(#000000));
    background-image: linear-gradient(to bottom, #ffffff, #e8e8e8, #d1d1d1, #bababa, #a4a4a4, #8e8e8e, #797979, #646464, #4b4b4b, #333333, #1d1d1d, #000000);
    cursor: default;
    border-radius: 10%;
  }
}

body .dark_mode-container .dark_mode-background .dark_mode-circle {
  position: absolute;
  left: -.5vw;
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  background-color: #000000;
}

@media screen and (max-width: 814px) {
  body .dark_mode-container .dark_mode-background .dark_mode-circle {
    left: 0vw;
    height: 4vw;
    width: 4vw;
    top: -.5vh;
  }
}

body .dark_mode-container .dark_mode-background .circleToRight {
  -webkit-animation: move_right .35s linear;
          animation: move_right .35s linear;
  background-color: #ffffff;
  left: 4.45vw;
}

@media screen and (max-width: 814px) {
  body .dark_mode-container .dark_mode-background .circleToRight {
    -webkit-animation: move_down .35s linear;
            animation: move_down .35s linear;
    left: 0vw;
    top: 10.5vh;
  }
}

@-webkit-keyframes move_right {
  0% {
    background-color: #000000;
    left: -.5vw;
  }
  50% {
    background-color: #808080;
    left: 2vw;
  }
  100% {
    background-color: #ffffff;
    left: 4.45vw;
  }
}

@keyframes move_right {
  0% {
    background-color: #000000;
    left: -.5vw;
  }
  50% {
    background-color: #808080;
    left: 2vw;
  }
  100% {
    background-color: #ffffff;
    left: 4.45vw;
  }
}

@-webkit-keyframes move_down {
  0% {
    top: -.5vh;
    background-color: #000000;
  }
  50% {
    top: 5vh;
    background-color: #808080;
  }
  100% {
    top: 10.5vh;
    background-color: #ffffff;
  }
}

@keyframes move_down {
  0% {
    top: -.5vh;
    background-color: #000000;
  }
  50% {
    top: 5vh;
    background-color: #808080;
  }
  100% {
    top: 10.5vh;
    background-color: #ffffff;
  }
}

body .dark_mode-container .dark_mode-background .circleToLeft {
  -webkit-animation: move_left .35s linear;
          animation: move_left .35s linear;
  background-color: #000000;
  left: -.5vw;
}

@media screen and (max-width: 814px) {
  body .dark_mode-container .dark_mode-background .circleToLeft {
    -webkit-animation: move_up .35s linear;
            animation: move_up .35s linear;
    left: 0vw;
    top: -.5vh;
  }
}

@-webkit-keyframes move_left {
  0% {
    background-color: #ffffff;
    left: 4.45vw;
  }
  50% {
    background-color: #808080;
    left: 2vw;
  }
  100% {
    background-color: #000000;
    left: -.5vw;
  }
}

@keyframes move_left {
  0% {
    background-color: #ffffff;
    left: 4.45vw;
  }
  50% {
    background-color: #808080;
    left: 2vw;
  }
  100% {
    background-color: #000000;
    left: -.5vw;
  }
}

@-webkit-keyframes move_up {
  0% {
    background-color: #ffffff;
    top: 10.5vh;
  }
  50% {
    background-color: #808080;
    top: 5vh;
  }
  100% {
    background-color: #000000;
    top: -.5vh;
  }
}

@keyframes move_up {
  0% {
    background-color: #ffffff;
    top: 10.5vh;
  }
  50% {
    background-color: #808080;
    top: 5vh;
  }
  100% {
    background-color: #000000;
    top: -.5vh;
  }
}

body .buttons_container {
  height: 10vh;
  width: 82vw;
  margin: 0 auto;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 814px) {
  body .buttons_container {
    height: 0vh;
    padding-top: 18vh;
    padding-bottom: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body .buttons_container .add, body .buttons_container .search, body .buttons_container .delete_main {
  height: 5vh;
  width: 25vw;
  background: transparent;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: 'Norican', cursive;
  font-size: 1.75rem;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}

@media screen and (max-width: 814px) {
  body .buttons_container .add, body .buttons_container .search, body .buttons_container .delete_main {
    height: 0vh;
    padding-bottom: 4vh;
    width: 70vw;
    font-size: 1.25rem;
    vertical-align: middle;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: default;
  }
}

@media screen and (min-width: 815px) {
  body .buttons_container .add:hover, body .buttons_container .search:hover, body .buttons_container .delete_main:hover {
    background-color: #e6ffff;
  }
}

body .heading_container {
  height: 10vh;
  width: 100vw;
  line-height: 10vh;
  background: none;
  text-align: center;
}

body .heading_container h1 {
  font-size: 2.5rem;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}

@media screen and (max-width: 814px) {
  body .heading_container h1 {
    font-size: 2rem;
  }
}

body .heading_container h1 span {
  font-size: 2.5rem;
}

@media screen and (max-width: 814px) {
  body .heading_container h1 span {
    font-size: 2rem;
  }
}

body .engine {
  margin: 0px auto;
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 80vw;
  outline: none;
  font-size: 1.5rem;
  font-family: 'Unna', serif;
  letter-spacing: 2px;
  border: 1px solid #000;
  color: #000;
  background-color: #808080;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}

@media screen and (max-width: 814px) {
  body .engine {
    font-size: 1.5rem;
  }
}

body .main_list {
  margin-top: 10vh;
}

body .main_list li {
  list-style: none;
  text-align: left;
  display: block;
  width: 70vw;
  height: 10vh;
  margin: 0 auto;
  position: relative;
  font-family: 'Unna', serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
  color: #000000;
}

@media screen and (max-width: 814px) {
  body .main_list li {
    font-size: 1rem;
  }
}

body .main_list li .delete_button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6bdc4), color-stop(#f3aab1), color-stop(#ef979d), color-stop(#ea8588), to(#e37272));
  background-image: linear-gradient(to bottom, #f6bdc4, #f3aab1, #ef979d, #ea8588, #e37272);
  border: none;
  border-radius: 50%;
  height: 5vh;
  width: 7vw;
  position: absolute;
  right: 0;
  outline: none;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
  font-family: 'Unna', serif;
  font-size: 1.25rem;
}

@media screen and (max-width: 814px) {
  body .main_list li .delete_button {
    width: 8vw;
    height: 4vh;
    font-size: .95rem;
  }
}

body .main_list li .delete_button:hover {
  background: transparent;
  color: #ff4d4d;
}

.darkModeSite {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), color-stop(#424242), color-stop(#3b3b3b), color-stop(#353535), color-stop(#2f2f2f), color-stop(#2b2b2b), color-stop(#272727), color-stop(#232323), color-stop(#202020), color-stop(#1d1d1d), color-stop(#1b1b1b), to(#181818));
  background-image: linear-gradient(to bottom, #484848, #424242, #3b3b3b, #353535, #2f2f2f, #2b2b2b, #272727, #232323, #202020, #1d1d1d, #1b1b1b, #181818);
}

.darkLiMode {
  color: #ffffff;
}

.buttonDarkMode {
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}

@media screen and (min-width: 815px) {
  .buttonDarkMode:hover {
    background-color: #737373 !important;
  }
}
/*# sourceMappingURL=main.css.map */