* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(to bottom, #f4edf1, #ede7ed, #e6e2e9, #dedce4, #d6d7e0, #cfd2db, #c7ccd7, #bfc7d2, #b7c0cc, #afb9c5, #a6b2bf, #9eabb9);
    height: 100vh;
    width: 100vw;
    font-family: 'Dancing Script','Amatic SC', cursive;
    .dark_mode-container {
        height: 10vh;
        width: 9vw;
        position: absolute;
        background-color: red;
        .dark_mode-background {
           width: 5vw;
           height: 2vh;
           background-color: #0000ff; 
           margin: 4vh auto;
           position: relative;
           cursor: pointer;
           .dark_mode-circle {
               position: absolute;
               left: -.5vw;
               height: 2vh;
               width: 2vh;
               border-radius: 50%;
               background-color: #000000;
           }
           .circleToRight {
                animation: move_right .35s linear;
                background-color: #ffffff;
                left: 4.5vw;
                @keyframes move_right {
                    0%{
                         background-color: #000000;
                         left: -.5vw;
                    }
                   50% {
                     background-color: #808080;
                     left: 2vw;
                    
                 }
                 100% {
                     background-color: #ffffff;
                     left: 4.5vw;  
                 }
                }
           }
           .circleToLeft {
                
                animation: move_left .35s linear;
                background-color: #000000;
                left: -.5vw;
                @keyframes move_left {
                    0%{
                        background-color: #ffffff;
                         left: 4.5vw
                    }
                   50% {
                     background-color: #808080;
                     left: 2vw;
                    
                 }
                 100% {
                     background-color: #000000;
                     left: -.5vw;
                   
                 }
                }

           }
       

        }
    }
    .buttons_container {
        height: 10vh;
        width: 82vw;
        margin: 0 auto;
        background: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 814px) {
            height: 15vh;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
        }
        
        .add, .search, .delete_main {
            height: 5vh;
            width: 25vw;
            background: transparent;
            border: none;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
            outline: none;
            font-family: 'Dancing Script', cursive;
            font-size: 1.75rem;
            transition: all .35s ease-in;
            @media screen and (max-width: 814px) {
                width: 50vw;
                height: 3vh;
                font-size: 1.25rem;
            }
            @media screen and (min-width: 815px){
                &:hover {
                    background-color:#e6ffff; 
                }
            }
          
        }
    }
    .heading_container {
        height: 10vh;
        width: 100vw;
        line-height: 10vh;
        background: none;
        text-align: center;
        h1 {
            font-size: 2.5rem;
            @media screen and (max-width: 814px) {
                font-size: 2rem;
            }
            span {
                font-size: 2.5rem;
                @media screen and (max-width: 814px) {
                    font-size: 2rem;
                }
            }
        }
    }
    .engine {
        margin: 0px auto;
        display: block;
        height: 4vh;
   
        width: 80vw;
        outline: none;
        font-size: 1.5rem;
        font-family: 'Amatic SC', cursive;
        letter-spacing: 2px;
        @media screen and (max-width: 814px) {
            font-size: 1.5rem;
        }

    }
    .main_list {
        margin-top: 10vh;
        li {
            list-style: none;
            text-align: left;
            display: block;
            width: 70vw;
            height: 10vh;
            margin: 0 auto;
            position: relative;
            font-size: 1.25rem;
            letter-spacing: 1px;
            @media screen and (max-width: 814px) {
                font-size: 1rem;
            }
            .delete_button {
                background-image: linear-gradient(to bottom, #f6bdc4, #f3aab1, #ef979d, #ea8588, #e37272);
                border: none;
                border-radius: 50%;
                height: 5vh;
                width: 7vw;
                position: absolute;
                right: 0;
                outline: none;
                transition: all .35s ease-in;
                font-family: 'Amatic SC', cursive;
                font-size: 1.25rem;
                @media screen and (max-width: 814px) {
                    width: 8vw;
                    height: 4vh;
                    font-size: .95rem;
                }
                &:hover {
                    background: transparent;
                    color: #ff4d4d;

                }
            }
        }
    }
}
