* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(to bottom, #f4edf1, #ede7ed, #e6e2e9, #dedce4, #d6d7e0, #cfd2db, #c7ccd7, #bfc7d2, #b7c0cc, #afb9c5, #a6b2bf, #9eabb9);
    height: 100vh;
    width: 100vw;
    font-family:'Norican','Unna', serif, cursive;
    
    .dark_mode-container {
        height: 10vh;
        width: 9vw;
        position: absolute;
        background-color: transparent;
        @media screen and (max-width: 814px) {
            height: 18vh;
            width: 5vh;
        }
        .dark_mode-background {
           width: 5vw;
           height: 2vh;
           margin: 4vh auto;
           position: relative;
           background-image: linear-gradient(to right, #ffffff, #e8e8e8, #d1d1d1, #bababa, #a4a4a4, #8e8e8e, #797979, #646464, #4b4b4b, #333333, #1d1d1d, #000000);
           border-radius: 10%;
           cursor: pointer;
          
           @media screen and (max-width: 814px) {
               height: 12vh;
               width: 4vw;
               margin: 3vh auto;
               background-image: linear-gradient(to bottom, #ffffff, #e8e8e8, #d1d1d1, #bababa, #a4a4a4, #8e8e8e, #797979, #646464, #4b4b4b, #333333, #1d1d1d, #000000);
                cursor: default;
               border-radius: 10%;
           }
           .dark_mode-circle {
               position: absolute;
               left: -.5vw;
               height: 2vh;
               width: 2vh;
               border-radius: 50%;
               
               background-color: #000000;
               @media screen and (max-width: 814px) {
                    left: 0vw;
                    height: 4vw;
                    width: 4vw;
                    top: -.5vh;                   
               }
           }
           .circleToRight {
                animation: move_right .35s linear;
                background-color: #ffffff;
                left: 4.45vw;
                @media screen and (max-width: 814px) {
                    animation: move_down .35s linear;
                    left: 0vw;
                    top: 10.5vh
                }
                @keyframes move_right {
                    0%{
                    background-color: #000000;
                    left: -.5vw;
                    }
                   50% {
                    background-color: #808080;
                    left: 2vw;
                    
                 }
                 100% {
                     background-color: #ffffff;
                     left: 4.45vw;  
                 }
                }
                @keyframes move_down {
                    0% {
                        top: -.5vh;
                        background-color: #000000;
                    }
                    50% {
                        top: 5vh;
                        background-color: #808080;
                    }
                    100%{
                        top: 10.5vh;
                        background-color: #ffffff;
                    }

                }
           }
           .circleToLeft {
                animation: move_left .35s linear;
                background-color: #000000;
                left: -.5vw;
                @media screen and (max-width: 814px) {
                    animation: move_up .35s linear;
                    left: 0vw;
                    top: -.5vh;
                }
                @keyframes move_left {
                    0%{
                        background-color: #ffffff;
                         left: 4.45vw
                    }
                   50% {
                     background-color: #808080;
                     left: 2vw;
                 }
                 100% {
                     background-color: #000000;
                     left: -.5vw;   
                 }
                }
                @keyframes move_up {
                    0%{
                    background-color: #ffffff;
                    top: 10.5vh;
                    }
                   50% {
                     background-color: #808080;
                     top: 5vh
                 }
                 100% {
                     background-color: #000000;
                     top: -.5vh;
                 }
                }
           }
        }
    }
    .buttons_container {
        height: 10vh;
        width: 82vw;
        margin: 0 auto;
        background: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 814px) {
            height: 0vh;
            padding-top: 18vh;
            padding-bottom: 6vh;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
        }
        
        .add, .search, .delete_main {
            height: 5vh;
            width: 25vw;
            background: transparent;
            border: none;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
            outline: none;
            font-family: 'Norican', cursive;
            font-size: 1.75rem;
            transition: all .35s ease-in;       
            @media screen and (max-width: 814px) {
                height: 0vh;
                padding-bottom: 4vh;
                width: 70vw;
                font-size: 1.25rem;
                vertical-align: middle;
                margin-top: 1vh;
                margin-bottom: 1vh;
                cursor: default;
            }
            @media screen and (min-width: 815px){
                &:hover {
                    background-color:#e6ffff; 
                }
            }
        }
    }
    .heading_container {
        height: 10vh;
        width: 100vw;
        line-height: 10vh;
        background: none;
        text-align: center;
        
        h1 {
            font-size: 2.5rem;
            transition: all .35s ease-in;
            @media screen and (max-width: 814px) {
                font-size: 2rem;
            }
            span {
                font-size: 2.5rem;
                @media screen and (max-width: 814px) {
                    font-size: 2rem;
                }
            }
        }
    }
    .engine {
        margin: 0px auto;
        display: block;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 80vw;
        outline: none;
        font-size: 1.5rem;
        font-family: 'Unna', serif;
        letter-spacing: 2px;
        border: 1px solid #000;
        color: #000;
        background-color: #808080;
        transition: all .35s ease-in;
        @media screen and (max-width: 814px) {
            font-size: 1.5rem;
        }

    }
    .main_list {
        margin-top: 10vh;
        li {
            list-style: none;
            text-align: left;
            display: block;
            width: 70vw;
            padding-bottom: 10vh;
            line-height: 5vh;
            margin: 0 auto;
            position: relative;
            font-family: 'Unna', serif;
            font-size: 1.25rem;
            letter-spacing: 1px;
            transition: all .35s ease-in;
            color: #000000;
            @media screen and (max-width: 814px) {
                font-size: 1rem;
            }
            .delete_button {
                background-image: linear-gradient(to bottom, #f6bdc4, #f3aab1, #ef979d, #ea8588, #e37272);
                border: none;
                border-radius: 50%;
                height: 5vh;
                width: 7vw;
                position: absolute;
                right: 0;
                outline: none;
                transition: all .35s ease-in;
                font-family: 'Unna', serif;
                font-size: 1.25rem;
                @media screen and (max-width: 814px) {
                    height: 5vh;
                    width: 7vh;
                    font-size: .85rem;
                }
                &:hover {
                    background: transparent;
                    color: #ff4d4d;

                }
            }
        }
    }
}
.darkModeSite {
    background-image: linear-gradient(to bottom, #484848, #424242, #3b3b3b, #353535, #2f2f2f, #2b2b2b, #272727, #232323, #202020, #1d1d1d, #1b1b1b, #181818);
}
.darkLiMode {
    color: #ffffff;
}
.buttonDarkMode {
    transition: all .35s ease-in;
    @media screen and (min-width: 815px) {
    &:hover {
        background-color: #737373 !important;
    }
}
}